<!DOCTYPE html>
<html lang="en" ng-app="appita">
<head>
    <meta charset="UTF-8">
    <title>Administración</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="css/estilo.css">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-controller="control1">
<div class="container"  ng-cloak class="ng-cloak">
    <h1>Pagina de administración</h1>
    {{mensaje}}
    <p class="lead">Hola amigos malos</p>
    <a class="btn btn-default" ng-click="conectarse()">Obtener los usuarios</a>
    <table class="table table-bordered">
        <tr class="success">
            <th>Nombre</th>
            <th>Sueldo</th>
            <th>Edad</th>
        </tr>
        <tr  ng-repeat="usuario in usuarios">
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.sueldo}}</td>
            <td>{{usuario.edad}}</td>
        </tr>

    </table>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
</body>
</html>